* {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  position: relative;
  background-color: #ffffff;
}
header .header__btn {
  width: 10%;
  border-style: none;
  cursor: pointer;
}

.header__logo {
  cursor: pointer;
  height: 1.7rem;
}

.top-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 20rem;
}

.fa-arrow-left {
  font-size: medium;
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}
.fa-arrow-left__btn {
  background: white;
  border: none;
  cursor: pointer;
}

.top-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite {
  display: flex;
  position: relative;
  cursor: pointer;
}
.favorite .img-checked {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.favorite .img-checked:hover {
  opacity: 100%;
}
.favorite .img-checked:hover .img-unchecked {
  position: absolute;
  height: 1.3rem;
}

h1 {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.7rem;
}

h2 {
  font-weight: 300;
  font-size: 16px;
}

h3 {
  margin: 0;
  font-size: 0.95rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  display: inline-block;
  border-bottom: 0.2rem solid #99E2D0;
  width: 2.6rem;
}

ul {
  padding: 0;
}

main {
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  transform: translateY(-2rem);
  max-width: 1055px;
}

.main__section__content {
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.menu p {
  margin-bottom: 0.3rem;
}

.card {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #eaeaea;
  border-radius: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  transition: all 2000ms;
  margin: 1rem 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover > .card__check {
  flex: 25%;
  transform: translateX(0px);
  background-color: #99E2D0;
  cursor: pointer;
  color: #f6f6f6;
}

.entrees__card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 0s;
}
.entrees__card__txt {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
  padding: 0.5rem;
}

.plats__card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}
.plats__card__txt {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
  padding: 0.5rem;
}

.dessert__card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}
.dessert__card__txt {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
  padding: 0.5rem;
}

.card__check {
  flex: 0%;
  color: #f6f6f6;
  background-color: #99e2d0;
  font-size: x-large;
  text-align: center;
  line-height: 4rem;
  white-space: nowrap;
  transform: translateX(100px);
  transition: all ease-out 500ms;
  width: 0;
}

.card__txt__detail p {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.95rem;
}

.card__txt__detail {
  display: flex;
  justify-content: space-between;
}
.card__txt__detail__sub {
  text-overflow: ellipsis;
}

.card__txt__detail__price {
  font-weight: bold;
}

.bottom__btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.bottom__btn .btn {
  border-radius: 2rem;
  padding: 0.81rem 2rem;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(#ff79da, #9356dc);
  border-style: hidden;
  transition: filter;
  transition-duration: 400ms;
}
.bottom__btn .btn:hover {
  filter: brightness(1.15);
}

a {
  text-decoration: none;
  color: #ffffff;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 1.38rem 1.63rem;
  transform: translateY(2.5rem);
}
footer .footer__img {
  height: 1rem;
  filter: invert(100%);
}

.footer__list {
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  color: #ffffff;
}

@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    opacity: 1 translateY(0);
  }
}/*# sourceMappingURL=menu.css.map */