* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
  }

@import "mixin";
@import "variables";

html, body{
    height: 100%;
}

body{
    margin:0;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 65px;
    position: relative;
    width: 100%;
    padding: 1rem;
    .header__btn{
        width: 10%;
        border-style: none;
        cursor: pointer;
    }
}

.fa-arrow-left{
    font-size: medium;
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    &__btn{
        background: white;
        border: none;
        cursor: pointer;
    }
}

.header__logo{
    cursor: pointer;
    height: 1.6rem;
}

.top-image{
    width: 100%;
    object-fit: cover;
    height: 20rem;
    position: absolute;
    top: 4rem;
    z-index: 1;
}

main{
    background-color: $Background;
    border-radius: 2rem 2rem 0 0;
    z-index: 2;
    top: 18rem;
    position: relative;

}

.main__section__content{
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.top-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite{
    display: flex;
    position: relative;
    cursor: pointer;
    .img-checked{
        position: absolute;
        opacity:0;
        transition:opacity 400ms ease-in-out;
        &:hover{
            opacity: 100%;
        }
    }
}

h1{
    font-family: 'Shrikhand', 'cursive';
    font-size: 1.5rem;
}

.title{
    display: inline-block;
    border-bottom:0.2rem solid $Green;
    width:2.6rem;
}

h2{
    font-weight:300 ;
    font-size: 16px;
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 1s;

}

.card{
    background-color:$White;
    box-shadow: 2px 2px 2px $grey2;
    border-radius: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 2000ms;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover >.card__check{
        flex: 4.31rem;
        transform: translateX(0px);
        background-color: $Green;
        cursor: pointer;
        color:$Background;
    }
}

.entrees__card{
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 250ms;
    &__txt{
     @include txt
    }
}  

h3{
    margin: 0;
    font-size: 0.95rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card__txt__detail{
    display: flex;
    justify-content: space-between;
    &__sub{
        text-overflow: ellipsis;
        
    }    
}

.card__txt__detail p{
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.95rem;
}

.card__txt__detail__price{
    font-weight: bold;
    flex-shrink: 0;
}

.card__check{
    flex: 0%;
    color: $Background;
    background-color: #99e2d0;
    font-size: x-large;
    text-align: center;
    line-height: 4rem;
    white-space: nowrap;
    transform: translateX(100px);
    transition: all ease-out 500ms;
    width: 0;
}

.fa-check-circle{
    transition: .5s ease-in-out;
}


.menu p{
    margin-bottom: 0.3rem;
}

.card:hover .fa-check-circle{
    transform: rotate(360deg);   
}

.plats__card{
    animation-name:appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 500ms;
    &__txt{
        @include txt
    }
}

.dessert__card{
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    &__txt{
        @include txt
    }
}


.bottom__btn{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    .btn{
        border-radius:2rem;
        padding: 0.81rem 2rem;
        font-size: 1rem;
        color: $White;
        cursor : pointer;
        background:linear-gradient(#ff79da,#9356dc,);
        border-style: hidden;
        transition: filter;
        transition-duration: 400ms;
        &:hover {
          filter: brightness(1.15);
          }
    }   
}

footer{
    background-color: $Grey; 
    color: $White;
    padding:1.38rem 1.63rem;
    z-index: 3;
    position: relative;
    top: 18rem;
    .footer__img{
      height:1rem;
      filter: invert(100%);
      }
}

.footer__list{
    list-style: none;
    padding: 0.5rem 0;
    gap: 0.5rem;
    color:$White;
}

ul{
    padding: 0;
}

li{
    display: flex;
}

a{
    text-decoration: none;
    color: $White;
}

// keyframes

@keyframes appear{

0% {transform: translateY(-100px);
        opacity:0;}
100% {
        opacity:1
        translateY(0)
    }}
@keyframes rotate {
    
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
}}
    

// Media queries

@media(min-width: 767px){

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1055px;
    width: 67%;   
}

.main__section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.main__section__content{
    width: 70%;
}

.top-title{
    justify-content: center;
    gap: 1rem
    ;
}

footer{
    width:100%
}

footer .footer__img{
    position: relative;
    float: right;
    top: 2rem;
}

.footer__list{
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    right: 4rem;
    bottom: 0.55rem;
}

ul{
    display: inline-flex;
    gap: 1rem;
}

}







    


















