* {
  font-family: 'roboto', sans-serif;
}

// variables
$Background:#f6f6f6;
$Primary: #9356dc;
$Secondary: #fca311;
$Green: #99E2D0;
$Green-font: #008766;
$White: #ffffff;
$Black:#101010;
$Grey: #353535;
$grey2: #eaeaea;


// mixin
@mixin button-gradient{
background-color:linear-gradient(#9356dc,#ff79da);}

@mixin column-center{
  display:flex;
  flex-direction: column;
  align-items: center;}

@mixin row-center{
  display: flex;
  align-items: center;
  justify-content: center;}

@mixin button{
border-radius:2rem;
padding: 0.81rem 1.17rem;
font-size: 1rem;
font-weight: bold;
color: $White;
margin-bottom: 3.57rem;
cursor : pointer;}

@mixin card-shadow {
  box-shadow:5px 5px 10px 0 $grey2;}

@mixin container{
  max-width: 1080px;
  justify-self: center;
  width: 100%;
}

// body

h1 {
  font-size: 1.5rem;
  font-weight:bold;
  padding: 0 3rem;
}

.fa-store{
  color: $Primary;
}

ol{
  padding: 0;
}

body{
  margin:0;
}

.section-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
 .badges{
  position: relative;
  bottom: 8.5rem;
  float: right;
  z-index: 2;
  right: 0.5rem;
}

.favorite{
  display: flex;
  position: relative;
  .img-checked{
    position: absolute;
    opacity:0;
    transition:opacity 400ms ease-in-out;
    &:hover{
    opacity: 100%;
    .img-unchecked{
      position: absolute;
      }
    }
  }
}

.btn{
background:linear-gradient(#ff79da,#9356dc,); 
@include button;
border-style: hidden;
transition: filter;
transition-duration: 400ms;
&:hover {
  filter: brightness(1.2);
  }
}

header{
  @include column-center;
  .header__logo{
    height: 1.7rem;
    margin: 1.06rem;}
    .header__location{
      @include row-center;
      width: 100%;
      background-color: $grey2;}
}

.header__location__city{
  font-weight: bold;
  padding: 0 1rem;
}

.exploration-section{
  @include column-center;
  text-align: center;
  background-color: $Background;
  padding: 0 0.5rem;
}

.operation-section__container{
  padding: 0 1rem;
}

.top-card{
  @include card-shadow;
  display: flex;
  align-items: center;
  border: 0 solid;
  margin:2rem 1rem;
  border-radius:1rem;
  background-color:$Background;
  list-style: none;
  font-weight: bold;
  gap: 0.8rem;
  font-size: 0.85rem;
  .operation-section__num{ 
    position:relative;
    right: 1rem;
    border: 0.1rem solid;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: $Primary;
    color: $White;
    width: 1rem;
    text-align: center;
 }
}
 
.restaurant-section{
  background-color: $Background;
  &__container{
    padding: 1rem;
  }
}

.card{
  border-radius: 0.94rem;
  background-color: $White;
  margin: 1rem 0;
  .card__img{
    object-fit: cover;
    width:100%;
    border-radius: 1rem 1rem 0 0;
    height: 10rem;
    box-sizing: content-box;
  }
}

.content__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  .card__container{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }    
}
   
.card__title{
 margin: 0;   
}

#charonne{
  position: relative;
  left: 5.55rem;
}

#menilmontant{
  position: relative;
  left: 5.55rem;
}

.city{
  white-space: nowrap;
  margin:0.2rem 0;
}

a{
  text-decoration: none;
  color: black;
}

footer{
  background-color: $Grey; 
  color: $White;
  padding:1.38rem 1.63rem;
  .footer__img{
    height:1rem;
    filter: invert(100%);
    }
  }

ul{
  padding: 0;
}

.footer__list{
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  color: white;
}

// media queries
@media(min-width: 767px){

  ol{
    display: grid;
    grid-template-columns: 34% 34% 34%;
    width: 98%;
  }
  
  .operation-section__container{
    @include container
  }
  
  section{
    display: grid;
    padding: 0 1rem;
   }
   
  .restaurant-section__container{
  @include container
  }
  
  .restaurant-section__card{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 0 2rem;
  }
  .card{
    width: 100%;
    transition: scale 400ms ease-in-out;
    &:hover{
      scale: 1.05;
  }
  }

  footer .footer__img{
    position: relative;
    float: right;
    top: 2rem;
}

  .footer__list{
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    right: 4rem;
    bottom: 0.55rem;
  }

  ul{
    display: inline-flex;
    gap: 1rem;
  }

}

@media(max-width:820px){
  ol{display: unset;
  }
}