* {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 3rem;
}

.fa-store {
  color: #9356dc;
}

ol {
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.badges {
  position: relative;
  bottom: 8.5rem;
  float: right;
  z-index: 2;
  right: 0.5rem;
}

.favorite {
  display: flex;
  position: relative;
}
.favorite .img-checked {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.favorite .img-checked:hover {
  opacity: 100%;
}
.favorite .img-checked:hover .img-unchecked {
  position: absolute;
}

.btn {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 2rem;
  padding: 0.81rem 1.17rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 3.57rem;
  cursor: pointer;
  border-style: hidden;
  transition: filter;
  transition-duration: 400ms;
}
.btn:hover {
  filter: brightness(1.2);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header__logo {
  height: 1.7rem;
  margin: 1.06rem;
}
header .header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eaeaea;
}

.header__location__city {
  font-weight: bold;
  padding: 0 1rem;
}

.exploration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}

.top-card {
  box-shadow: 5px 5px 10px 0 #eaeaea;
  display: flex;
  align-items: center;
  border: 0 solid;
  margin: 2rem 1rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
  list-style: none;
  font-weight: bold;
  gap: 0.8rem;
}
.top-card .operation-section__num {
  position: relative;
  right: 1rem;
  border: 0.1rem solid;
  border-radius: 2rem;
  padding: 0.3rem;
  background-color: #9356dc;
  color: #ffffff;
  width: 1.2rem;
  text-align: center;
}

.restaurant-section {
  background-color: #f6f6f6;
}

.card {
  min-width: 21.25rem;
  height: 15.69rem;
  border-radius: 0.94rem;
  background-color: #ffffff;
  margin: 1rem 0;
}
.card .card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
  box-sizing: content-box;
}

.content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
.content__container .card__container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.card__title {
  margin: 0;
}

#charonne {
  position: relative;
  left: 5.55rem;
}

#menilmontant {
  position: relative;
  left: 5.55rem;
}

.city {
  white-space: nowrap;
  margin: 0.2rem 0;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding: 1.38rem 1.63rem;
}
footer .footer__img {
  height: 1rem;
  filter: invert(100%);
}

ul {
  padding: 0;
}

.footer__list {
  list-style: none;
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  color: white;
}

@media (min-width: 767px) {
  .section {
    padding: 2rem 11.25rem;
  }
  ol {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    width: 98%;
  }
  .restaurant-section__card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0 2rem;
  }
  .card {
    width: 100%;
  }
  footer .footer__img {
    position: relative;
    float: right;
    top: 2rem;
  }
  .footer__list {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    right: 4rem;
    bottom: 0.55rem;
  }
  ul {
    display: inline-flex;
    gap: 1rem;
  }
}
@media (max-width: 1240px) {
  ol {
    display: unset;
  }
  .section {
    padding: 1rem 5%;
  }
}/*# sourceMappingURL=style.css.map */