// variables
$Background:#f6f6f6;
$Primary: #9356dc;
$Secondary: #fca311;
$Green: #99E2D0;
$Green-font: #008766;
$White: #ffffff;
$Black:#101010;
$Grey: #353535;
$grey2: #eaeaea;
$loading-dur: 2000ms;
$loading-delay: 200ms;
$loading-debut-dur: 800ms;
$loading-fin-delay: $loading-debut-dur + $loading-dur + $loading-delay;
$loading-fin-dur: 800ms;
$num-lettres: 8;
$lettre-dur: 600ms;
$lettre-delay: 75ms;
$police-logotitre:'Shrikhand', 'cursive';